<div class="ks-page-header">
  <section class="ks-title">
    <h3>File Upload</h3>

    <div class="ks-controls">
      <nav class="breadcrumb ks-default">
        <a class="breadcrumb-item ks-breadcrumb-icon" href="index.html">
          <span class="la la-home ks-icon"></span>
        </a>
        <a href="#" class="breadcrumb-item">Components</a>
        <span class="breadcrumb-item active" href="#">File Upload</span>
      </nav>
    </div>
  </section>
</div>

<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid">
        <!--<button class="btn btn-primary ks-uppy-modal-opener">Opener</button>-->

        <div class="row">
          <div class="col-lg-6">
            <h5>With auto upload</h5>
            <div class="ks-uppy-dashboard-container ks-autoproceed">
              <div class="ks-uppy-file-upload-progress"></div>
            </div>
          </div>
          <div class="col-lg-6">
            <h5>Without auto upload</h5>
            <div class="ks-uppy-dashboard-container ks-no-autoproceed">
              <div class="ks-uppy-file-upload-progress"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
