<form class="ks-form ks-settings-tab-form ks-notifications"> <!-- ks-uppercase ks-light -->
  <h3 class="ks-main-form-header">Notifications</h3>

  <div class="form-group row">
    <div class="col-lg-8">
      <div class="ks-fg-header">Notification Settings</div>
      <div id="ks-accordion" class="ks-accordion" role="tablist" aria-multiselectable="true">
        <div class="panel ks-item">
          <a data-toggle="collapse" data-parent="#ks-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Activity Notifications

            <span class="badge badge-default">0</span>
          </a>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="ks-body">
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Likes &amp; Follows</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Post and comments replies</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">New messages, mentions, and invitations</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel ks-item">
          <a class="collapsed" data-toggle="collapse" data-parent="#ks-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2

            <span class="badge badge-default">0</span>
          </a>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="ks-body">
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Likes &amp; Follows</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Post and comments replies</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">New messages, mentions, and invitations</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel ks-item">
          <a class="collapsed" data-toggle="collapse" data-parent="#ks-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3

            <span class="badge badge-primary">2</span>
          </a>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="ks-body">
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Likes &amp; Follows</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Post and comments replies</span>
                </label>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" checked>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">New messages, mentions, and invitations</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
