<form class="ks-form ks-settings-tab-form ks-education"> <!-- ks-uppercase ks-light -->
  <h3 class="ks-main-form-header">Education</h3>

  <div class="ks-form-group">
    <div class="form-group row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <label>Year Started</label>
            <div class="input-icon icon-right icon icon-lg icon-color-primary">
              <input id="input-group-icon-text" type="text" class="form-control ks-datepicker" appDatepicker>
              <span class="icon-addon">
                  <span class="la la-calendar-o"></span>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <label>Year Ended</label>
            <div class="input-icon icon-right icon icon-lg icon-color-primary">
              <input type="text" class="form-control ks-datepicker" placeholder="" appDatepicker>
              <span class="icon-addon">
                  <span class="la la-calendar-o"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <label class="custom-control custom-checkbox ks-fh-control-position-fix">
          <input type="checkbox" class="custom-control-input" checked>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Currently enrolled</span>
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <label>Degree</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col-lg-6">
            <label>Field of Study</label>
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-8">
        <label>Description</label>
        <textarea class="form-control" rows="4" placeholder="Type something..."></textarea>
      </div>
    </div>
    <div class="form-group ks-remove-position">
      <button type="button" class="btn btn-danger-outline ks-light">
        <span class="la la-trash ks-icon"></span>
        <span class="text ks-text">Remove this position</span>
      </button>
    </div>
  </div>

  <div class="ks-form-group">
    <button type="button" class="btn btn-success">
      <span class="la la-plus ks-icon"></span>
      <span class="ks-text">Add school</span>
    </button>
  </div>
</form>
