<div class="ks-page-header">
  <section class="ks-title">
    <h3>Touchspin</h3>
  </section>
</div>

<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-block">
                <h5 class="card-title">Touchspin</h5>
                <div>
                  <div class="form-group">
                    <input id="touchspin" type="text" class="form-control" value="55" appTouchspin [options]="defaultOptions">
                  </div>
                  <div class="form-group">
                    <input id="touchspin-vertical-buttons" type="text" value="" class="form-control touchspin-default" appTouchspin [options]="verticalButtonsOptions">
                  </div>
                  <div class="form-group">
                    <input id="touchspin-button" type="text" value="" appTouchspin [options]="buttonOptions">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
