<div class="ks-page-header">
  <section class="ks-title">
    <h3>Advanced Form Inputs</h3>
  </section>
</div>
<div class="ks-page-content">
  <div class="ks-page-content-body">
    <div class="ks-nav-body-wrapper">
      <div class="container-fluid">
        <h4>Outline slider checkboxes</h4>
        <div class="row">
          <div class="col-lg-6">
            <div class="card panel">
              <div class="card-block">
                <div>
                  <label class="ks-checkbox-slider ks-primary">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                  </label>
                  <label class="ks-checkbox-slider ks-success">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                  </label>
                  <label class="ks-checkbox-slider ks-info">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                  </label>
                  <label class="ks-checkbox-slider ks-warning">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                  </label>
                  <label class="ks-checkbox-slider ks-danger">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                  </label>
                </div>
                <div>
                  <label class="ks-checkbox-slider ks-primary ks-disabled">
                    <input type="checkbox" value="1" disabled>
                    <span class="ks-indicator"></span>
                  </label>
                  <label class="ks-checkbox-slider ks-success ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                  </label>
                  <label class="ks-checkbox-slider ks-info ks-disabled">
                    <input type="checkbox" value="1" disabled>
                    <span class="ks-indicator"></span>
                  </label>
                  <label class="ks-checkbox-slider ks-warning ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                  </label>
                  <label class="ks-checkbox-slider ks-danger ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card panel">
              <div class="card-block">
                <div>
                  <label class="ks-checkbox-slider ks-on-off ks-primary">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-success">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-info">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-warning">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-danger">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                </div>
                <div>
                  <label class="ks-checkbox-slider ks-on-off ks-primary ks-disabled">
                    <input type="checkbox" value="1" disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-success ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-info ks-disabled">
                    <input type="checkbox" value="1" disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-warning ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-danger ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Solid slider checkboxes</h4>

        <div class="row">
          <div class="col-lg-6">
            <div class="card panel">
              <div class="card-block">
                <div>
                  <label class="ks-checkbox-switch ks-primary">
                    <input type="checkbox" value="1">
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-switch ks-success">
                    <input type="checkbox" value="1">
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-switch ks-info">
                    <input type="checkbox" value="1">
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-switch ks-warning">
                    <input type="checkbox" value="1">
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-switch ks-danger">
                    <input type="checkbox" value="1">
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                </div>
                <div>
                  <label class="ks-checkbox-switch ks-primary ks-disabled">
                    <input type="checkbox" value="1" disabled>
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-switch ks-success ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-switch ks-info ks-disabled">
                    <input type="checkbox" value="1" disabled>
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-switch ks-warning ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-switch ks-danger ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-wrapper"></span>
                    <span class="ks-wrapper"></span>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card panel">
              <div class="card-block">
                <div>
                  <label class="ks-checkbox-slider ks-on-off ks-solid ks-primary">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-solid ks-success">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-solid ks-info">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-solid ks-warning">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-solid ks-danger">
                    <input type="checkbox" value="1">
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                </div>
                <div>
                  <label class="ks-checkbox-slider ks-on-off ks-primary ks-solid ks-disabled">
                    <input type="checkbox" value="1" disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-success ks-solid ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-info ks-solid ks-disabled">
                    <input type="checkbox" value="1" disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-warning ks-solid ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                  <label class="ks-checkbox-slider ks-on-off ks-danger ks-solid ks-disabled">
                    <input type="checkbox" value="1" checked disabled>
                    <span class="ks-indicator"></span>
                    <span class="ks-on">On</span>
                    <span class="ks-off">Off</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Solid default checkboxes</h4>

        <div class="row">
          <div class="col-lg-6">
            <div class="card panel">
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-6">
                    <div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox">
                          <input type="checkbox" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-success">
                          <input type="checkbox" class="custom-control-input" checked>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-danger">
                          <input type="checkbox" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-info">
                          <input type="checkbox" class="custom-control-input" checked>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-warning">
                          <input type="checkbox" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-danger">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-info">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-warning">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox">
                          <input type="checkbox" class="custom-control-input" disabled>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-success">
                          <input type="checkbox" class="custom-control-input" checked disabled>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-danger">
                          <input type="checkbox" class="custom-control-input" disabled>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-info">
                          <input type="checkbox" class="custom-control-input" checked disabled>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                      <div>
                        <label class="custom-control custom-checkbox ks-checkbox ks-checkbox-warning">
                          <input type="checkbox" class="custom-control-input" disabled>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Custom checkbox</span>
                        </label>
                      </div>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-disabled">
                        <input type="checkbox" class="custom-control-input" disabled>
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-success ks-disabled">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-danger ks-disabled">
                        <input type="checkbox" class="custom-control-input" disabled>
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-info ks-disabled">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-checkbox-warning ks-disabled">
                        <input type="checkbox" class="custom-control-input" disabled>
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card panel">
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-6">
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle ks-checkbox-success">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle ks-checkbox-danger">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle ks-checkbox-info">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle ks-checkbox-warning">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle ks-checkbox-success">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle ks-checkbox-danger">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle ks-checkbox-info">
                        <input type="checkbox" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle ks-checkbox-warning">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle">
                        <input type="checkbox" class="custom-control-input" disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle ks-checkbox-success">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle ks-checkbox-danger">
                        <input type="checkbox" class="custom-control-input" disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle ks-checkbox-info">
                        <input type="checkbox" class="custom-control-input" checked disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox ks-checkbox ks-circle ks-checkbox-warning">
                        <input type="checkbox" class="custom-control-input" disabled>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom checkbox</span>
                      </label>
                    </div>

                    <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle">
                      <input type="checkbox" class="custom-control-input" disabled>
                      <span class="custom-control-indicator"></span>
                    </label>
                    <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle ks-checkbox-success">
                      <input type="checkbox" class="custom-control-input" checked disabled>
                      <span class="custom-control-indicator"></span>
                    </label>
                    <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle ks-checkbox-danger">
                      <input type="checkbox" class="custom-control-input" disabled>
                      <span class="custom-control-indicator"></span>
                    </label>
                    <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle ks-checkbox-info">
                      <input type="checkbox" class="custom-control-input" checked disabled>
                      <span class="custom-control-indicator"></span>
                    </label>
                    <label class="custom-control custom-checkbox ks-checkbox ks-no-description ks-circle ks-checkbox-warning">
                      <input type="checkbox" class="custom-control-input" disabled>
                      <span class="custom-control-indicator"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Default Radio</h4>

        <div class="row">
          <div class="col-lg-6">
            <div class="card panel">
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-6">
                    <div>
                      <label class="custom-control custom-radio ks-radio ks-primary">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom radio</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-radio ks-radio ks-success">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom radio</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-radio ks-radio ks-info">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom radio</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-radio ks-radio ks-warning">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom radio</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-radio ks-radio ks-danger">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Custom radio</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div>
                      <label class="custom-control custom-radio ks-radio ks-as-checkbox ks-primary">
                        <input name="radio" type="radio" class="custom-control-input" value="primary" checked="">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-radio ks-radio ks-as-checkbox ks-success">
                        <input name="radio" type="radio" class="custom-control-input" value="success">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-radio ks-radio ks-as-checkbox ks-info">
                        <input name="radio" type="radio" class="custom-control-input" value="info">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-radio ks-radio ks-as-checkbox ks-purple">
                        <input name="radio" type="radio" class="custom-control-input" value="purple">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-radio ks-radio ks-as-checkbox ks-warning">
                        <input name="radio" type="radio" class="custom-control-input" value="warning">
                        <span class="custom-control-indicator"></span>
                      </label>
                      <label class="custom-control custom-radio ks-radio ks-as-checkbox ks-danger">
                        <input name="radio" type="radio" class="custom-control-input" value="danger">
                        <span class="custom-control-indicator"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
