<form class="ks-form ks-settings-tab-form ks-general"> <!-- ks-uppercase ks-light -->
  <h3 class="ks-main-form-header">
    General
  </h3>

  <div class="ks-manage-avatar ks-group">
    <img class="ks-avatar" src="assets/img/avatars/ava-4.png" width="100" height="100">
    <div class="ks-manage-avatar-body">
      <div class="ks-manage-avatar-body-header">Your Avatar</div>
      <div class="ks-manage-avatar-body-description">
        A square image 100x100px is recommended
      </div>
      <div class="ks-manage-avatar-body-controls">
        <button type="button" class="btn btn-primary">
          <span class="la la-upload ks-icon"></span>
          <span class="ks-text">Upload Image</span>
        </button>
        <button type="button" class="btn btn-primary-outline ks-light">Import from Gravatar</button>
      </div>
    </div>
  </div>
  <div class="ks-form-group ks-linked-accounts">
    <div class="ks-form-group-header">Link account with another member</div>
    <div class="ks-linked-accounts-body">
      <span class="ks-linked-account">Your account linked with <span class="ks-linked-account-name">Alex Frolov</span> <img class="ks-avatar ks-linked-account-avatar" src="assets/img/avatars/ava-3.png" width="24" height="24"></span>
      <a href="#">Unlink Account</a>
    </div>
  </div>
  <div class="ks-form-group ks-connect-with-social-accounts">
    <div class="ks-form-group-header">Connect with social accounts</div>
    <div class="ks-connect-with-social-accounts-body">
      <div class="ks-connect-with">
        <button type="button" class="btn btn-danger">
          <span class="la la-google ks-icon"></span> <span class="ks-text">Connect with Google</span>
        </button>
      </div>
      <div class="ks-connect-with ks-connected">
        <button type="button" class="btn btn-primary-outline ks-light">
          <span class="la la-facebook ks-icon"></span>
          <span class="text ks-text">Connected as <span class="ks-name">Stephen Bates</span></span>
        </button>
        <a href="#">Disconnect</a>
      </div>
    </div>
  </div>
</form>
